* {
    box-sizing: border-box;
    overflow: hidden;
  }
  h1 {
    margin-bottom: 15px;
    text-align: center;
  }
  
  
  /* Simple Responsive Framework. */
  .row {
    width: 100%;
  }

  
  .menu{
    border:1px black solid;
    background-color:lightgray; 
    margin:10px;
    cursor:pointer;
    height:150px;
  }

  
  .menu > .menuTxtChicken{
    position: relative;
    text-align:center;
    float:right;
    color:black;
    padding:5px;
    margin:0px;
    clear: right;
    width: 70px;
    height: 30px;
    border-bottom:1px black solid;
    border-left:1px black solid;
    background-color: lightgreen;
    font-family:  Helvetica,sans-serif,Arial;
  }
  
  .menu > .menuTxtBeef{
    position: relative;
    text-align:center;
    float:right;
    color:black;
    padding:5px;
    margin:0px;
    clear: right;
    width: 70px;
    height: 30px;
    border-bottom:1px black solid;
    border-left:1px black solid;
    background-color:pink;
    font-family:  Helvetica,sans-serif,Arial;
  }
  .menu > .menuTxtSushi{
    position: relative;
    text-align:center;
    float:right;
    color:black;
    padding:5px;
    margin:0px;
    clear: right;
    width: 70px;
    height: 30px;
    border-bottom:1px black solid;
    border-left:1px black solid;
    background-color:lightyellow;
    font-family:  Helvetica,sans-serif,Arial;
  }
 


  .menuDesc{
    position: relative;
    padding:10px;
    clear: right;
    background-color:lightgray;
 
  }

  .menuTxt:hover{
    cursor: pointer;
    background-color:gray; 
  }

 

  /********** Large devices only **********/
  @media (min-width: 992px) {
    .menuChicken{
      width: 33.33%;
      float: left;
    }
  
    .menuBeef{
      width: 33.33%;
      float: left;
    }
  
    .menuSushi{
      width: 33.33%;
      float: left;
    }
  }

  /********** Medium devices only **********/
  
  @media (min-width: 768px) and (max-width: 991px) {
    .menuChicken{
      width: 50%;
      float: left;
    }
  
    .menuBeef{
      width: 50%;
      float: left;
    }
  
    .menuSushi{
      width: 100%;
      float: left;
    }
  }
  
  @media (max-width: 767px) {
    .menu{
      margin-right:20px;
      margin-left:20px;
    }
  }

